.github
.env
~*
*.sh
dist/
build/
*.py[cod]
*.patch
*.egg-info
!.git
!.gitignore
!.*.example
!tests/.coveragerc
!.github
!.mypy.ini
!.pre-commit-config.yaml
!bandit.yaml
coverage.xml
django_temporary_permissions.db