name: Lint

on:
  push:
    branches:
      - '**'        # matches every branch

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-lint"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  attestations: write

jobs:
  changes:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    outputs:
      lint: ${{ steps.changes.outputs.lint }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7
      - name: Check for changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            lint:
              - 'src/**/*.py'
              - '*.py'
              - 'pyproject.toml'
              - 'requirements*.txt'

  lint:
    runs-on: ubuntu-latest
    needs: [ changes ]
    if: needs.changes.outputs.lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          architecture: 'x64'

      - uses: astral-sh/ruff-action@v3

      - name: lint
        run: |
          ruff check --select I src
          ruff format --check src
