name: Test

on:
  push:
    branches:
      - '**'

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-test"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Test py${{ matrix.python-version }}/dj${{matrix.django-version}}
    strategy:
      max-parallel: 1
      matrix:
        python-version: [ '3.13', '3.12', '3.11', '3.10' ]
        django-version: [ '42', '52' ]
        exclude:
          - python-version: '3.13'
            django-version: '42'
      fail-fast: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Restore cached venv
        id: cache-venv-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            .uv/
          key: ${{ matrix.python-version }}-${{matrix.django-version}}-venv

      - uses: astral-sh/setup-uv@v6

      - name: Cache venv
        if: steps.cache-venv-restore.outputs.cache-hit != 'true'
        id: cache-venv-save
        uses: actions/cache/save@v4
        with:
          path: |
            .uv
          key: ${{ matrix.python-version }}-${{matrix.django-version}}-venv

      - name: Test
        run: |
          uv run --cache-dir .uv/ \
              pytest tests \
                --junit-xml junit-${{ matrix.python-version }}-${{matrix.django-version}}.xml \
                --cov --cov-report xml

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results-${{ matrix.python-version }}-${{matrix.django-version}}
          path: junit-${{ matrix.python-version }}-${{matrix.django-version}}.xml
        if: ${{ always() }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        if: ${{ secrets.CODECOV_TOKEN != '' }}
        continue-on-error: true
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          flags: unittests
          files: ./coverage.xml
          verbose: false
          token: ${{ secrets.CODECOV_TOKEN }}
          name: codecov-${{ env.GITHUB_REF_NAME }}
